header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 2rem;
}

li a {
  text-decoration: none;
  color: white;
}
