.products {
  padding: 1.5rem;
}

.product__details {
  padding: 1rem;
  background-color: rgb(52, 212, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}
