.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 25px;
  padding: 10px;
}

.hd__images {
  height: 250px;
}

.image__container {
  margin-left: 20px;
}
